@model ISAT.Developer.Exam.Web.Models.PersonViewModel

<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    @Html.TextBoxFor(model => model.FirstName, new { @class=Model.getClass })
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    @Html.TextBoxFor(model => model.LastName, new { @class=Model.getClass })
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="col-md-2 control-label"></label>
    @Html.TextBoxFor(model => model.Email, new { @class=Model.getClass })
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Age" class="col-md-2 control-label"></label>
    @Html.TextBoxFor(model => model.Age, new { @class=Model.getClass })
    <span asp-validation-for="Age" class="text-danger"></span>
</div>