@await Html.PartialAsync("heading.cshtml")

<div class="form-horizontal">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @await Html.PartialAsync("fields.cshtml")

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="@ViewData["action"]" class="btn btn-success" />
        </div>
    </div>
</div>