<div class="row">
    <div class="col-sm">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
        @Html.ActionLink("…Return to list", "Index", null, null, new { @class = "btn btn-info" })
    </div>
</div>