@model ISAT.Developer.Exam.Web.Models.PersonViewModel

@{
    ViewData["Title"] = "Delete Person";
    ViewData["action"] = "Confirm deletion";
    ViewData["Person"] = Model.FirstName + " " + Model.LastName;
}

<form asp-action="Delete">
    <div class="row">
        <div class="col-sm">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="col-sm">
            <input type="submit" value="@ViewData["action"] of @ViewData["Person"]" class="btn btn-danger" />
        </div>
        <div class="col-sm">
            @Html.ActionLink("…Return to list", "Index", null, null, new { @class = "btn btn-info" })
        </div>
    </div>
</form>