@model ISAT.Developer.Exam.Web.Models.PersonViewModel

@{
    ViewData["Title"] = "Edit Person";
    ViewData["action"] = "Update";
}

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    @await Html.PartialAsync("./part/form.cshtml")
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}