@model IEnumerable<ISAT.Developer.Exam.Web.Models.PersonViewModel>

@{
    ViewData["Title"] = "Persons Management";
}

<div class="row">
    <div class="col-sm">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm right">
        <a asp-action="Create" class="btn btn-primary">Create new person</a>
    </div>
</div>
<hr />
<div class="panel">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @if (!Model.Any()) {
            <tr>
                <td colspan="5">No results found</td>
            </tr>
        }
        @foreach (var person in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => person.Id)</td>
                <td>@Html.DisplayFor(modelItem => person.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => person.LastName)</td>
                <td>@Html.DisplayFor(modelItem => person.Email)</td>
                <td>
                    <a asp-action="Edit"   asp-route-id="@person.Id" title="Edit"   class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@person.Id" title="Delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>