﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi!  I am <b>John</b> <i class="fas fa-user-astronaut"></i></h1>

    <p>You can see more informations about me on <a href="https://github.com/jmurowaniecki" target="_blank">my Github<i class="fab fa-github"></i></a> or in <a href="https://www.linkedin.com/in/lamdadeveloper" target="_blank">my LinkedIn <i class="fab fa-linkedin"></i></a></p>
</div>
